.banner-section {
    height: 300px;
    display: flex;
    background-color: #fff;
    margin-top: 200px;
  }
  
  .banner-texts {
    margin-left: 50px;
    margin-right: 100px;
    padding-top: 30px;
  }
  
  .text1 {
    font-size: 30px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .text2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-top: 10px;
    line-height: 20px;
    font-size: 20px;
  }
  
  .contact-btn {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 120px;
    color: #fff;
    background-color: blue;
    padding: 15px 20px;
    border: 1px solid blue;
    border-radius: 20px;
    cursor: pointer;
  }