* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ben-nav {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-left: 20px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #eaeaec;
}

.ben-nav-logo {
  display: flex;
  margin-left: 20px;
}

.autocheck {
  height: 20%;
  width: 25%;
  border-right: 2px solid #e0e0e0;
  padding-right: 5px;
  cursor: pointer;
}

.flag {
  height: 20%;
  width: 10%;
  margin-left: 10px;
  cursor: pointer;
}

.ben-nav-links ul {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.ben-nav-links li {
  list-style: none;
  margin: 20px;
  margin-right: 30px;
}

.ben-nav-links a {
  color: #595e70;
  text-decoration: none;
}

.ben-banner-sec {
  background-image: url(ben-Assets.html/ben_img-10.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  justify-content: center;
}

.ben-banner-sec1 {
  text-transform: capitalize;
  padding-top: 250px;
  font-size: 50px;
  color: #fff;
  line-height: 60px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.ben-sec-below-banner {
  height: 700px;
  background-color: #ffffff;
}

.ben-1p {
  font-size: 30px;
  text-align: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 20px;
  color: #31355b;
}

.ben-col3 {
  display: flex;
  background-color: #fff;
  margin-left: 90px;
  margin-right: 20px;
  padding-top: 50px;
}

.ben-col3 p {
  text-align: center;
  font-size: 25px;
  color: #485164;
  padding-top: 20px;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.bencol3-img1 {
  height: 100%;
  width: 100%;
  border-right: 30px solid #fff;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
}
.bencol3-img2 {
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
  border-top-left-radius: 40px;
  border-right: 30px solid #fff;
}
.bencol3-img3 {
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
}

.ben-col-1 hr {
  width: 70%;
  margin-left: 60px;
  color: #e0e0e0;
  margin-bottom: 10px;
}

.ben-col-2 hr {
  width: 70%;
  margin-left: 60px;
  color: #e0e0e0;
  margin-bottom: 10px;
}

.ben-col-3 hr {
  width: 70%;
  margin-left: 60px;
  color: #e0e0e0;
  margin-bottom: 10px;
}

.ben-btn {
  font-size: 20px;
  margin-left: 130px;
  padding: 10px 20px;
  background-color: #ffb619;
  color: #30344f;
  cursor: pointer;
  border: #ffb619;
  border-radius: 15px;
}

.ben-btn:hover {
  color: #fff;
  background-color: #31355b;
}

.ben-btn1 {
  font-size: 20px;
  padding: 8px 10px;
  background-color: #ffb619;
  color: #30344f;
  cursor: pointer;
  border: #ffb619;
  border-radius: 10px;
  margin-left: 500px;
}

.ben-btn1:hover {
  color: #fff;
  background-color: #31355b;
}

.ben-sec1-pg2 p {
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.ben_sec1_pg1 {
  padding-top: 100px;
  font-size: 30px;
  cursor: pointer;
  color: #31355b;
}

.ben_sec1_pg2 {
  padding-top: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #7a7c95;
}

.ben-col3pg2 {
  display: flex;
  background-color: #fff;
  margin-left: 80px;
  margin-right: 30px;
  margin-bottom: 50px;
  padding-top: 50px;
  height: 500px;
}

.ben-col3pg2 p {
  text-align: center;
  font-size: 25px;
  color: #485164;
  padding-top: 20px;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.ben-col3-img1 {
  height: 80%;
  width: 100%;
  border-right: 30px solid #fff;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
}
.ben-col3-img2 {
  height: 80%;
  width: 100%;
  border-right: 30px solid #fff;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
}
.ben-col3-img3 {
  height: 100%;
  width: 100%;
}

.ben-col-1pg2 hr {
  width: 70%;
  margin-left: 60px;
  color: #e0e0e0;
  margin-bottom: 10px;
}

.ben-col-2pg2 hr {
  width: 70%;
  margin-left: 60px;
  color: #e0e0e0;
  margin-bottom: 10px;
}

.ben-col-3pg2 hr {
  width: 70%;
  margin-left: 60px;
  color: #e0e0e0;
  margin-bottom: 10px;
}

.ben-btnpg2 {
  font-size: 20px;
  margin-left: 100px;
  padding: 10px 20px;
  background-color: #ffb619;
  color: #30344f;
  cursor: pointer;
  border: #ffb619;
  border-radius: 15px;
}

.ben-btnpg2:hover {
  color: #fff;
  background-color: #31355b;
}

.pg2-btn {
  margin-left: 180px;
}

.ben_pg3-banner-sec {
  height: 500px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 130px;
}

.ben-pg3-bannerimg {
  width: 100%;
  height: 100%;
}

.ben_p3-banner_t3 {
  margin-left: 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #31355b;
}

.ben-pg3-htext2 {
  font-size: 15px;
  color: #9483a8;
}

.benpg3bnds {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #31355b;
}

.ben-pg3-brands {
  display: flex;
  margin-left: 200px;
}

.benpg3logos {
  height: 400px;
  height: 50px;
  width: 60px;
  margin: 20px;
  cursor: pointer;
}

footer {
  height: 300px;
  background-color: #101436;
  color: #7e7e92;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  padding-top: 10px;
}

.NDPR-complaint-logo {
  padding: 20px;
  width: 150px;
  height: 150px;
}

.useful-links {
  padding: 20px;
}

.useful-links p {
  color: #7e7e92;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.useful-links li {
  list-style-type: none;
  margin: 10px;
}

.useful-links a {
  text-decoration: none;
  color: #7e7e92;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  padding: 10px;
}

.topbrands-links {
  padding: 20px;
}

.top-brands p {
  color: #7e7e92;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 20px;
  text-transform: capitalize;
}

.topbrands-links li {
  list-style-type: none;
  line-height: 25px;
}

.topbrands-links a {
  text-decoration: none;
  color: #7e7e92;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  padding: 10px;
}

.mainlogo {
  display: flex;
  margin: 10px;
}

.follow-us p {
  color: #7e7e92;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-top: -50px;
  padding-bottom: 50px;
  text-transform: capitalize;
}

.followus-logos {
  display: flex;
  margin-top: -50px;
}

.footerlogo1 {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin: 10px;
  background-color: #8f90a6;
  cursor: pointer;
}

.footerlogo2 {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin: 10px;
  background-color: #8f90a6;
  cursor: pointer;
}

.footerlogo3 {
  height: 20px;
  width: 20px;
  border-radius: 1px;
  margin: 10px;
  margin-right: 30px;
  background-color: #8f90a6;
  cursor: pointer;
}

.download-links img {
  height: 50px;
  width: 150px;
  padding-left: 20px;
  cursor: pointer;
}
