
.caption{
    display: flex;
    justify-content: space-around;
    color: rgb(23, 23, 94);
    font-size: 25px;
    background-color: #bce7e7;
}
.btn{
    color: #c9c5d4;
    background-color: rgb(26, 6, 83);
    border-color: rgb(5, 56, 16);
    
    
}
.what{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f032e;
}
.eles{
    display: flex;
    justify-content: center;
    align-items: center;
}

